.wrapper {
  position: relative;
  min-height: 150px;
  padding: 100px 75px 75px;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('/search_bg.jpg');
    background-size: cover;
    filter: brightness(0.35) contrast(0.65) blur(1px);
  }
}

.row {
  display: flex;
  margin-bottom: 40px;
  align-items: baseline;
}

.title {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 25px;
}

.input {
  width: calc(85% - 10px);
  margin-right: 10px;
}

.submit {
  min-width: 15%;
}

.input,
.submit {
  padding: 14px;
  border: 0;
  outline: none;
  font-size: 13px;
  color: #ffffff;
}

.filter {
  display: inline-block;
  margin-right: 14px;
}
