.result {
  min-height: 35px;
  padding: 14px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
}

.number {
  display: inline-block;
  font-weight: 800;
}

.sortTitle {
  display: inline-block;
  margin-right: 14px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  flex-basis: 30%;
  flex-grow: 0;
  margin-bottom: 42px;
  font-size: 12px;
  line-height: 21px;
  color: #CBCBCB;
}

.poster {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 21px;

  &:hover {
    transition: 0.5s;
    transform: scale(1.05);
  }
}

.title {
  float: left;
  width: 75%;
}

.release {
  float: right;
  padding: 0 7px;
  border: 1px solid #CBCBCB;
  border-radius: 2px;
}

.genre {
  width: 100%;
  overflow: hidden;
}

.error {
  width: 100%;
  padding:75px;
  text-align: center;
  font-size: 21px;
}